<p id="notice"><%= notice %></p>

<% if user_signed_in? %>

  <h1>My Credit Cards</h1>

  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% current_user.credit_cards.each do |credit_card| %>
        <tr>
          <td><img src=<%= asset_path(credit_card.image) %> ></td>
          <td><%= credit_card.name %></td>
          <td><%= credit_card.issuer %></td>
          <td><%= credit_card.last_four_digits %></td>
          <!--<td><%= link_to 'Show', credit_card %></td>
          <td><%= link_to 'Edit', edit_credit_card_path(credit_card) %></td>
          <td><%= link_to 'Destroy', credit_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Credit Card', new_credit_card_path %>
<% else %>
  <h1>Please <%= link_to 'sign in', new_user_session_path %> to view credit cards</h1>
<% end %>
